
{% extends 'base.html' %}

{% load static %}

{% block title %}Privacy Policy{% endblock title %}

{% block content %}

<div class='landing-page text-white text-center flex p-10 flex-col items-center min-h-full'>
  <!--Banner-->
  <span style="font-family: Poppins-Bold" class='pt-[20vh] z-40 font-extrabold text-xl md:text-2xl lg:text-3xl px-[20px] md:px-[140px] lg:px-[170px] xl:px-[200px] 2xl:px-[360px]'>
    I don't use any personal data @all.<br><br>
    The server this website is running on logs IP address, date and time for every requested resource though.
  </span>
</div>

{% endblock %}