
  <!--In navigation bar -->
      <i class="searchBtn1 p-2 px-3 my-1 text-white rounded-[8px] hover:bg-yellow-400 mt-1 bi bi-search text-sm cursor-pointer"></i>
      <i class="searchBtn mt-1 bi bi-search text-sm cursor-pointer md:hidden"></i>


  <!--Search button-->
<div class="searchModal text-white z-50 fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-800 opacity-75"></div>
    </div>
      <div class='modal animate-reveal flex items-center justify-center h-screen'>
        <div class="bg-gray-900 rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-sm sm:w-full">
          <form class="px-10 py-10">
            <div class="text-xl text-center font-extrabold mb-4">Search</div>
            <!-- Search Input -->
            <div class="mb-4 flex space-x-2">
              <input type="text" class="searchInput w-full bg-gray-800 border border-slate-700 rounded-lg py-2 px-4 outline outline-transparent" placeholder="Enter your search query...">
                <a type="submit" class="searchSubmitBtn bg-slate-700 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg" href="">
                  <i class="bi bi-search"></i>
                </a>
            </div>
          </form>
                <!-- Close Button -->
                <button class="searchCloseBtn m-2 absolute top-0 right-0 font-medium transition-colors p-4 focus:outline-none" aria-label="Close"><i class="bi bi-x text-xl"></i></button>
    
                <div class='mx-3'>
                <div class='flex md:flex-grow-2 justify-start space-x-3 text-sm md:text-base m-4 -mt-10 mb-8'>
                  <a href='/category/Python' class='sm:text-[12px] '><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'>Python</button></a>
                  <a href='/category/JavaScript' class='sm:text-[12px] '><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'>JavaScript</button></a>
                  <a href='/category/Design'  class='sm:text-[12px] '><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'>Design</button></a>
                </div>
    
                <div class='flex md:flex-grow-2 justify-start space-x-3 text-sm md:text-base m-4 -mt-10'>
                  <a href='/category/Web Design' class='sm:text-[12px] '><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'>Web Design</button></a>
                  <a href='/category/Frameworks' class='sm:text-[12px] '><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'>Frameworks</button></a>
                </div>
    
                <div class='flex md:flex-grow-2 justify-start space-x-3 text-sm md:text-base m-4 -mt-6'>
                    <a href='/category/Tools'  class='sm:text-[12px] '><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'>Tools</button></a>
                  </div>
                </div>
            </div>
        </div>
    </div>